body {
    height: 100vh;
    margin: 0;
    /* overflow: hidden;*/ /* Check if it scrolls*/
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
  }

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.secondary-text{
    font-size: 20px;
}

.header-logo{
    padding-left: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
}

.header-links{
    display:flex;
    margin-right: 50px;
    font-weight: bold;
    font-size: 15px;
    gap: 25px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

ul{
    list-style: none;
}

.cats {
    border: 4px solid #3882F6;
    border-radius: 15%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
